// universial
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;

  //font-family: "Roboto", sans-serif;
}

//utilities--------------------------------------------------------------------------------------------
.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 15px;
}

// @media (max-width: 375px) {
//   .container {
//     width: 375px;
//   }
//   .header h1 {
//     font-size: 1.7rem;
//   }
// }
//-----------------------------------------------------------------------------------------------------
a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}

a:hover {
  color: yellow;
}
.nav-item {
  margin: 0 10px;
  padding: 15px 20px;
}

li {
  list-style-type: none;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

h3 {
  letter-spacing: 1px;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 15px;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.font-yellow {
  color: yellow;
}

.line {
  padding: 1px 150px;
  background: yellow;
}

.bg-black {
  background: black;
}

.bg-white {
  background: #ccc;
}

//details

//navbar
.navbar {
  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.2);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  //line at the bottom
  border-bottom: 0.3px solid #ccc;
  transition: all 0.3s ease-in-out;
  transform: translateY(-100px);

  .container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .icon img {
      width: 100px;
      margin: 10px 0;
    }
    .navigation ul,
    .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    a {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1rem;
    }
    .icon a {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      margin-left: -25px;
    }
  }
}

// header -- the whole cover page
.header {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #345980 0%, #090a0f 100%);
  // font-family: "Raleway", sans-serif; //384c62
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  .container {
    height: 100%;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 10;
    animation: initialLoading 2s forwards ease-in;
  }

  .main-button {
    color: #ccc;
    justify-content: center;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(black, 0.3);
    background: #345980;
    outline: none;
    animation: initialLoading 3s forwards ease-in;
  }

  .main-button:hover {
    transform: scale(0.95);
  }

  @keyframes initialLoading {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

//Projects
.projects {
  background: black;
  padding: 100px 0px 40px 0px;
  width: 100vw;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .projectNavigators {
      // width: 800px;
      margin: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-items: center;
      align-items: center;
      justify-content: center;
      button {
        font-size: 1rem;
        width: 120px;
        padding: 10px;
        margin: 10px 10px;
        border-radius: 2px;
        border: none;
        outline: none;
      }
      button.yellowBackground {
        background: yellow;
      }
      button:hover {
        background: rgba(255, 255, 0, 0.966);
        color: black;
      }
    }
    //the view of all project
    .projectDisplay {
      // width: 1200px;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      position: relative;
      .project {
        position: relative;
        animation: projectLoading 0.3s linear forwards;
        .head {
          background: #ccc;
          color: black;
          .icon {
            display: flex;
            flex-direction: row;
            position: absolute;
            left: 5px;
            top: 5px;
            .red,
            .yellow,
            .green {
              width: 20px;
              height: 20px;
              border-radius: 100px;
              display: block;
              margin-right: 5px;
            }
            .red {
              background: #ff605c;
            }
            .yellow {
              background: #ffbd44;
            }
            .green {
              background: #00ca4e;
            }
          }
          .projectTitle {
            height: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
          }
          //done the title bar
        }
        // all small tabs for this one
        .main {
          position: relative;
          height: auto;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
        }
        .main::before {
          content: "";
          position: absolute;
          background: rgba($color: black, $alpha: 0.7);
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 1;
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }
        .main {
          img {
            width: 100%;
          }
          ul {
            width: 70%;
            position: absolute;
            top: 40%;
            width: 100%;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            opacity: 0;
            transform: translateY(-100px);
            transition: all 0.5s ease-in-out;
            z-index: 3;
            li {
              background: white;
              color: #333;
              font-size: 1rem;
              padding: 5px 15px;
              margin: 10px;
              border: 1px solid rgba($color: #ccc, $alpha: 1);
              border-radius: 2px;
            }
          }
          .learnMoreBtn {
            background: yellow;
            position: absolute;
            top: 70%;
            text-align: center;
            font-size: 1rem;
            padding: 10px 20px;
            outline: none;
            border: 2px solid yellow;
            z-index: 3;
            opacity: 0;
            transform: translateY(100px);
            transition: all 0.5s ease-in-out;
          }
        }
      }
      .project:hover {
        ul {
          opacity: 1;
          transform: translateY(0px);
        }
        .main::before {
          opacity: 1;
        }
        .learnMoreBtn {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      @keyframes projectLoading {
        from {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-10px);
          // transform: scale(0.3);
        }
        to {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          // transform: scale(1);
        }
      }
    }
  }
}

//About Me section
.about-me {
  background: rgba($color: #333, $alpha: 1);
  color: #ccc;
  padding-bottom: 70px;
  .biography {
    padding-top: 20px;
    p {
      padding: 10px;
      line-height: 1.5rem;
      text-align: justify;
    }
  }
}
.mySkills {
  background: black;
  .skills {
    background: black;
    display: flex;
    flex-direction: column;
    margin: 40px;
    .skill-element {
      margin: 10px;
      display: grid;
      grid-template-columns: 4fr 8fr;
      grid-gap: 20px;
      h4 {
        color: white;
      }

      .measurement {
        background: #ccc;
        border-radius: 10px;
        .measurement-filler {
          height: 100%;
          background: yellow;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          transition: all 5s ease-in-out;
        }
      }
    }
  }
}

.contact-header {
  margin: 0;
  padding: 40px 0;
  background: whitesmoke;
  background: #333;
  color: #ccc;

  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;
    // width: 1000px;
    margin: 30px 0px;
    label {
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;
      margin: 20px 0px 5px 0px;
    }
    input {
      padding: 10px 50px;
      font-size: 1.2rem;
      padding-left: 5px;
      outline: none;
      border: none;
    }
    textarea {
      font-family: "Roboto", sans-serif;
      padding: 50px 50px;
      font-size: 1.2rem;
      padding-left: 5px;
      padding-top: 10px;
      outline: none;
      border: none;
    }
    .formbtn {
      font-family: "Roboto", sans-serif;
      margin: 30px auto;
      padding: 10px 25px;
      font-size: 1.2rem;
      color: #ccc;
      justify-content: center;
      border-radius: 2px;
      border: none;
      text-decoration: none;
      box-shadow: 5px 5px 5px rgba(black, 0.3);
      border: 1px solid #ccc;
      background: #333;
      outline: none;
    }
    .formbtn:hover {
      transform: scale(0.95);
    }
    .email_received {
      color: yellow;
      display: none;
    }
    .warning {
      color: red;
      display: none;
    }
  }
}

//------------------------------------------
.footer {
  background: black;
  color: white;
  .container {
    height: 100%;
    display: flex;
    justify-items: center;
    p {
      font-size: 1rem;
      margin: 20px auto;
      padding: auto;
    }
  }
}
//******************MEDIA QUERIES****************************************
@media (max-width: 900px) {
  .projects .container .projectDisplay {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  .mySkills .skills .skill-element {
    grid-template-columns: 2fr 8fr;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
  .mySkills .skills .skill-element {
    grid-template-columns: 1fr 8fr;
  }
}

//************************************************************************** // a sky full of star-------------------------------- $stars: 100;
$w: 100vw;

.sky {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
}

//big ones
@for $i from 0 through 100 {
  .star:nth-child(#{$i}) {
    // $d: random(5);
    // width: $d + px;
    // height: $d + px;
    width: 3px;
    height: 3px;
    z-index: 10;
    background: white;
    border-radius: 50%;
    position: absolute;
    opacity: 1;
    margin-left: random(100) + px;
    margin-top: random(100) + px;
    animation: animStar 5s linear infinite, twinkle 1s linear infinite;
    // animation: animStar 2s linear infinite, twinkle-#{$i} 1s linear infinite;
    //animation: twinkle-#{$i} 1s linear infinite;
    animation-delay: $i * 0.01s;
  }
  @keyframes twinkle {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  }
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-50px);
    }
  }
}

//medium ones
@for $i from 101 through 200 {
  .star:nth-child(#{$i}) {
    width: 2px;
    height: 2px;
    z-index: 10;
    background: white;
    border-radius: 50%;
    position: absolute;
    opacity: 1;
    margin-left: random(100) + px;
    margin-top: random(100) + px;
    animation: animStar 4s linear infinite, twinkle 1s linear infinite;
    // animation: animStar 2s linear infinite, twinkle-#{$i} 1s linear infinite;
    //animation: twinkle-#{$i} 1s linear infinite;
    animation-delay: $i * 0.01s;
  }
  @keyframes twinkle {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  }
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-50px);
    }
  }
}

//small ones
@for $i from 201 through 300 {
  .star:nth-child(#{$i}) {
    width: 1px;
    height: 1px;
    z-index: 10;
    background: white;
    border-radius: 50%;
    position: absolute;
    opacity: 1;
    margin-left: random(100) + px;
    margin-top: random(100) + px;
    animation: animStar 2s linear infinite, twinkle 1s linear infinite;
    // animation: animStar 2s linear infinite, twinkle-#{$i} 1s linear infinite;
    //animation: twinkle-#{$i} 1s linear infinite;
    animation-delay: $i * 0.01s;
  }
  @keyframes twinkle {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  }
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-50px);
    }
  }
}
